﻿<h2>Risorse eliminate</h2>

<h2>I nostri pesci</h2>

@if (Model.Count == 0)
{
    <h3>Non ci sono pesci nel cestino</h3>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Di mare</th>
                <th scope="col">Prezzo</th>
                <th scope="col">Deleted</th>
                <th scope="col">Azioni</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var fish in Model)
            {
                <tr>
                    <td scope="col">@fish.FishId</td>
                    <td scope="col">@fish.Name</td>
                    <td scope="col">@fish.IsSeaFish</td>
                    <td scope="col">@fish.Price</td>
                    <td scope="col">@fish.DeletedAt</td>
                    <td scope="col">
                        <form style="display: inline" asp-controller="Fish" asp-action="Recover" method="post">
                            <input type="hidden" name="FishId" value="@fish.FishId" />
                            <button type="submit" class="btn btn-primary">Ripristina</button>
                        </form>
                        <form style="display: inline" asp-controller="Fish" asp-action="Delete" method="post">
                            <input type="hidden" name="FishId" value="@fish.FishId" />
                            <button type="submit" class="btn btn-danger">Elimina per sempre</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}